<form action="index.php?site=images" method="post">
	<table class="striped">
		<thead>
			<tr>
				<th colspan="2">new Image</th>
			</tr>
		</thead>
		<tr>
			<th>Name:</th>
			<td><input type="text" class="col_12" name="name" value="{$name}" /></td>
		</tr>
		<tr>
			<th>Type:</th>
			<td><select name="type">{$types}
			</select></td>
		</tr>
		<tr>
			<th>nicht löschbar:</th>
			<td><input type="checkbox" name="deleteable" {$delete}/>Wird genutzt für Laufwerke, die vom Server durchgereicht werden, z.b. CD-Rom oder USB-Sticks</td>
		</tr>
	</table>
	<ul class="tabs left">
		<li>
			<a href="#tab1">Existing file</a>
		</li>
		<li>
			<a href="#tab2">Create via Qemu-Img</a>
		</li>
		<li>
			<a href="#tab3">USB</a>
		</li>
	</ul>
	<div id="tab1" class="tab-content">
		<table class="striped">
			<tr>
				<th>Path:</th>
				<td><input type="text" class="col_12" name="path" value="{$path}" /></td>
			</tr>
		</table>
	</div>
	<div id="tab2" class="tab-content">
		<table class="striped">
			<tr>
				<th>Path:</th>
				<td><input type="text" class="col_12" name="path_create" value="{$path_create}" />
				</td>
			</tr>
			<tr>
				<th>Type:</th>
				<td>
					<select name="create_type">{$create_type}</select>
				</td>
			</tr>
			<tr>
				<th>Size:</th>
				<td>
					<input name="create_size" class="col_2" value="{$create_size}" size="6" class="small" /><small>Suffixes "M"(Megabyte) and "G"(Gigabyte)</small>
				</td>
			</tr>
		</table>
	</div>
	<div id="tab3" class="tab-content">
		<table class="striped">
			<tr>
				<th>Device:<br/>
				<a onclick="javascript:refreshUSB();">Refresh</a></th>
				<td><select name="usb_device" id="usb_device">{$usb_device}</select></td>
			</tr>
		</table>
	</div>
	<input type="hidden" name="tab" value="tab1"/>
	<input type="submit" class="center" name="save_new" value="Speichern" />
</form>