<a href="index.php?site=images&action=new" class="button no-margin small center grey "><span class="icon" data-icon="+"></span>neues Image</a>

<table class="striped">
	<thead>
		<tr>
			<th width="100"></th>
			<th width="150">Type</th>
			<th width="170">Options</th>
		</tr>
	</thead>
	{if condition="is_array($vms)"}
	{loop="vms"}
	<tr>
		<th>{$value.name}</th>
		<td>{$value.path}<br />
		<small>{$value.type}</small>
		</td>
		<td>{$value.buttons}</td>
	</tr>
	{/loop}
	{else}
		{$vms}
	{/if}
</table>