<form action="index.php?site=images" method="post">
	<table cellspacing="0" cellpadding="0" class="striped">
		<thead>
			<tr>
				<th colspan="2">new Image</th>
			</tr>
		</thead>
		<tr>
			<th>Name:</th>
			<td>
				<input type="text" class="no-margin" name="name" value="{$name}" />
			</td>
		</tr>
		<tr>
			<th>Type:</th>
			<td>
				<select class="no-margin" name="type">{$types}</select>
			</td>
		</tr>
		<tr>
			<th>Path:</th>
			<td>
				<input type="text" class="no-margin" name="path" value="{$path}" />
			</td>
		</tr>
	</table>
	<input type="hidden" name="image" value="{$imageID}"/>
	<input type="submit" class="no-margin center" name="save_edit" value="Speichern" />
</form>