<ul class="menu">

	<li class="{$class_main}">
		<a href="index.php">Startseite</a>
	</li>
	<li class="{$class_myvm}">
		<a href="index.php?site=myvm">Meine VMs</a>
	</li>
	<li class="{$class_verwaltung}"><a href=""><span class="icon">R</span>Verwaltung</a>
		<ul>
			<li class="{$class_vms}"><a href="index.php?site=vms"><span class="icon">4</span>Vms</a>
			</li>
			<li class="{$class_images}"><a href="index.php?site=images"><span class="icon">D</span>Images</a>
			</li>
			<li class="divider {$class_user}"><a href="index.php?site=users"><span class="icon">u</span>Benutzer</a>
			</li>
			<li class="divider {$class_system}"><a href="index.php?site=system"><span class="icon">S</span>Einstellungen</a>
			</li>
		</ul></li>
	<li class="{$class_downloads}"><a href="index.php?site=downloads">Downloads</a>
	</li>
</ul>