<form action="index.php?site=profil" method="post">
	<table class="striped">
		<thead>
			<tr>
				<th colspan="2">edit Profil</th>
			</tr>
		</thead>
		<tr>
			<th>Old Password:</th>
			<td><input type="password" class="col_12" name="old_pass" /></td>
		</tr>
		<tr>
			<th>new Password:</th>
			<td><input type="password" class="col_12" name="new_pass" /></td>
		</tr>
		<tr>
			<th>repeat:</th>
			<td><input type="password" class="col_12" name="new_pass_new" /></td>
		</tr>
	</table>
	<input type="submit" class="center" name="save_pass" value="Speichern" />
</form>