<form action="index.php?site=users" method="post">
	<table class="striped">
		<thead>
			<tr>
				<th colspan="2">edit User</th>
			</tr>
		</thead>
		<tr>
			<th width="30%">Benutzername:</th>
			<td><input type="input" class="col_12" value="{$username}" name="username" /><br/>
			</td>
		</tr>
		<tr>
			<th width="30%">Email:</th>
			<td><input type="input" class="col_12" name="email" value="{$email}" />
			</td>
		</tr>
		<tr>
			<th>Role:</th>
			<td>
				<select name="role">{$role}</select>
			</td>
		</tr>
	</table>
	<input type="hidden" name="user" value="{$userID}" />
	<input type="submit" class="center" name="save_edit" value="Speichern" />
</form>