<form action="index.php?site=vms" method="post">
	<table class="striped">
		<thead>
			<tr>
				<th colspan="2">new VM</th>
			</tr>
		</thead>
		<tr>
			<th>Name:</th>
			<td><input type="text" value="" class="col_12" name="name" />
			</td>
		</tr>
		<tr>
			<th>Owner:</th>
			<td>
				<select name="owner">
					{$owner}
				</select>
			</td>
		</tr>
		<tr>
			<th>Ram:</th>
			<td>
				<input type="text"value="{$ram}" name="ram"  class="col_4" size="6" /> Mb</td>
		</tr>
		<tr>
			<th>VNC Password:</th>
			<td><input type="text" value="" class="col_12" name="password" />
			</td>
		</tr>
		<tr>
			<th>Optionale Qemu Parameter:</th>
			<td><input type="text" value="" class="col_12" name="params" value="{$parameters}" />
			</td>
		</tr>
		<tr>
			<th>Persistent</th>
			<td><input type="checkbox" value="" name="persistent" /> Die VM bleibt auch ohne Ping online
			</td>
		</tr>
	</table>
	<table class="striped">
		<thead>
			<tr>
				<th>Images</th>
				<th><a onclick="javascript:addRow($(this).parents('table'))">add Row</a></th>
			</tr>
		</thead>
		<tr>
			<th>Image <span>1</span>: </th>
			<td><select name="image[]">{$image}</select></td>
		</tr>
	</table>
	<input type="submit" class="center" name="save" value="Speichern" />
</form>