<a href="index.php?site=vms&action=new" class="button small center grey "><span class="icon" data-icon="+"></span>neue VM</a>

<table class="striped">
	<thead>
		<tr>
			<th></th>
			<th width="10%">Ram</th>
			<th width="20%">Last Run</th>
			<th width="40%">Options</th>
		</tr>
	</thead>
	{if condition="is_array($vms)"} {loop="vms"}
	<tr>
		<th>{$value.name}<br />
		<small>{$value.owner}</small>
		</th>
		<td>{$value.ram}</td>
		<td>{$value.lastrun}</td>
		<td>{$value.buttons}</td>
	</tr>
	{/loop} {else} {$vms} {/if}
</table>